{% assign min_column_width = 1 %} {% if include.facet_by and include.collection
%} {% assign subset = site[include.collection] | where: include.field,
include.value | sort: 'order' %} {% assign facet_list = include.facet_by |
split: "|" %} {% comment%}BEGIN LANGUAGE SETUP{% endcomment %} {% if facet_list
contains "language" %} {% assign original_options = subset | map: "language" |
compact | uniq | sort_natural %} {% comment%}Create Array of Individuated
Languages{% endcomment %} {% assign temp_languages_list = "" %} {% for option in
original_options %} {% unless option contains "," %} {% capture
temp_languages_list %}{{ temp_languages_list | append: option}}|{% endcapture %}
{% endunless %} {% endfor %} {% for option in original_options %} {% if option
contains "," %} {% assign lang_individuated = {{option}} | split: "," %} {% for
l in lang_individuated %} {% capture temp_languages_list %}{{
temp_languages_list | append: l}}|{% endcapture %} {% endfor %} {% else %} {%
endif %} {% endfor %} {% capture temp_languages_list%}{{ temp_languages_list |
remove: " "}}{% endcapture %} {% assign languages = temp_languages_list | split:
"|" | uniq %} {% comment%}Create array of language names in for testing. This
needs a data file with iso values matching descriptions. {% endcomment %} {%
assign temp_language_names_list = "" %} {% for language in languages %} {% for i
in site.data.languages %} {% if i.iso == language %} {% assign language_name =
i.description %} {% endif %} {% endfor %} {% capture temp_language_names_list
%}{{ temp_language_names_list | append: language_name}}|{% endcapture %} {%
endfor %} {% comment %}Missing language test{% endcomment %} {% assign
language_names = temp_language_names_list | split: "|" %} {% assign unique_names
= language_names | uniq %} {% if languages.size > unique_names.size %}

<!-- ERROR: MISSING LANGUAGE IN LANGUAGE NAMES FILE-->
<div class="error-message">
  <p>The languages in your collection are: {{languages.size}}</p>
  <ul>
    {% for language in languages %}
    <li>{{language}}</li>
    {% endfor %}
  </ul>
  <p>
    The languages found in your language name data are: {{unique_names.size}}
  </p>
  <ul>
    {% for language in unique_names %}
    <li>{{language}}</li>
    {% endfor %}
  </ul>
</div>

<!-- END ERROR MESSAGE -->
{% endif %} {% endif %} {% comment %}END LANGUAGE SETUP{% endcomment %}

<form class="row" id="facets">
  {% for item in facet_list %} {% comment%}Handle Language Category {%
  endcomment %} {% if item == "language" %} {% comment%}Populate FieldSet with
  unique languages{% endcomment %}
  <fieldset id="language-set" class="card ml-2 facet-card">
    <div class="facet-header">
      <a
        class="facet-bn"
        data-toggle="collapse"
        href="#language-collapse"
        role="button"
        aria-expanded="false"
        aria-controls="language-collapse"
      >
        <legend>
          language
          <span
            aria-hidden="true"
            class="facets-chevron facets-chevron-bottom float-right ml-2"
          ></span>
        </legend>
      </a>
    </div>
    <div class="collapse" id="language-collapse">
      {% comment %}Create Card with languages{% endcomment %}
      <div class="card-body">
        {% for language in languages %} {% for i in site.data.languages %} {% if
        i.iso == language %} {% assign language_name = i.description %} {% endif
        %} {% endfor %}
        <div class="facet-item">
          <input
            id="{{language | slugify}}"
            class="{{item | slugify}}"
            type="checkbox"
            name="{{language}}"
            value="{{language}}"
          />
          <label for="{{language}}">{{language_name}}</label>
        </div>
        {% endfor %}
      </div>
    </div>
  </fieldset>

  {% else %}
  <fieldset id="{{item | slugify}}-set" class="card ml-2 facet-card">
    <div class="facet-header">
      <a
        class="facet-bn"
        data-toggle="collapse"
        href="#{{item | slugify }}-collapse"
        role="button"
        aria-expanded="false"
        aria-controls="{{item | slugify }}-collapse"
      >
        <legend>
          {{item | replace: "_", " "}}
          <span
            aria-hidden="true"
            class="facets-chevron facets-chevron-bottom float-right ml-2"
          ></span>
        </legend>
      </a>
      {% assign options = subset | map: item | compact | uniq | sort_natural %}
    </div>
    <div class="collapse" id="{{item | slugify }}-collapse">
      <div class="card-body">
        {% for option in options %}
        <div class="facet-item">
          <input
            id="{{option | slugify}}"
            class="{{item | slugify}}"
            type="checkbox"
            name="{{option}}"
            value="{{option}}"
          />
          <label for="{{option}}">{{option}}</label>
        </div>
        {% endfor %}
      </div>
    </div>
  </fieldset>
  {% endif %} {% endfor %}
</form>

<!-- Build the gallery by iterating through items in the collection. If there are
          facets specified, fine the items' values for those fields and add them as
          classes to the gallery-item object. The classes are used by JavaScript
          that reacts to changes to the checkbox filters. -->

<div
  class="wax-gallery-container full-width"
  id="wax-gallery-{{ include.value | slugify }}-container"
>
  <div class="wax-inline-container">
    <div class="wax-gallery" id="wax-gallery-{{ include.value | slugify }}">
      <div class="row">
        {% for item in subset %} {% assign newClasses = '' | split: ' ' %} {%
        for fieldSet in facet_list %} {% comment %}Handle language by stripping
        commas and removing slugify{% endcomment %} {% if fieldSet == "language"
        %} {% assign itemFieldValue = item[fieldSet] | replace: ",", " " %} {%
        if itemFieldValue.first %} {% assign fieldSetArray = '' | split: ' ' %}
        {% for val in itemFieldValue %} {% assign slugVal = val | split: ' ' %}
        {% assign fieldSetArray = fieldSetArray | concat: slugVal %} {% endfor
        %} {% else %} {% assign fieldSetArray = itemFieldValue | split: ' ' %}
        {% endif %} {% assign newClasses = newClasses | concat: fieldSetArray %}
        {% else %} {% assign itemFieldValue = item[fieldSet] %} {% if
        itemFieldValue.first %} {% assign fieldSetArray = '' | split: ' ' %} {%
        for val in itemFieldValue %} {% assign slugVal = val | slugify | split:
        ' ' %} {% assign fieldSetArray = fieldSetArray | concat: slugVal %} {%
        endfor %} {% else %} {% assign fieldSetArray = itemFieldValue | slugify
        | split: ' ' %} {% endif %} {% assign newClasses = newClasses | concat:
        fieldSetArray %} {% endif %} {% endfor %}
        <div class="gallery-item-facets {{  newClasses | join: ' ' }}">
          <a href="{{ item.url | absolute_url }}">
            <div class="hovereffect">
              {% capture img_link %}{{ item.full | absolute_url }}{% endcapture
              %}
              <img
                class="img-responsive gallery-wide-thumb"
                loading="lazy"
                src="{{ img_link }}"
              />
              <div class="overlay">
                <p class="info">{{ item.label }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
      console.log({{ facet_list | jsonify }})
      // liquid array of one or more fields for facetting
      // This JavaScript controls the expanding and contracting facet headers.
      // Additional JS for this page in assets/js/facets.js
      $(".facet-bn[aria-expanded]").click(function (event) {
          $(this)
              .parent()
              .parent()
              .toggleClass("active");
          // this selector might return multiple elements
          $(this)
              .children("legend")
              .children(".facets-chevron")
              .toggleClass("facets-chevron-bottom facets-chevron-top");
      });
  });
</script>

{% else %}
<div class="error-message">
  <p style="color: red">
    Check your code. You didn't specify what to face by.
    <code>include</code>
    command.
  </p>
</div>

{% endif %}
