---
layout: default
---

{% comment %}
  The block below controls the image viewer
{% endcomment %}



{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

{% if viewer %}
  <div class='item-view'>
    <span class='pagination-link' id='prevlink'></span>
    {% if viewer == 'openseadragon' %}
      {% include osd_iiif_image_viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
    {% else %}
       {% include simple_image_viewer.html full_image=page.full image_link=page.link prevlink=prevlink nextlink=nextlink %}
    {% endif %}
    <span class='pagination-link' id='nextlink'></span>
  </div>
  {% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}
{% endif %}

<h3 alt="{{ page.label }}" class='item-label'>{{ page.label }}</h3>
{% for lang in site.languages %}
  {% if lang == site.active_lang %}
    {% capture translated_title %}label_{{lang}}{% endcapture %}
    <h4 class='item-translated-label'>{% if page[translated_title] %}({% endif %}{{ page[translated_title] }}{% if page[translated_title] %}){% endif %}</h4>
  {% endif %}
{% endfor %}

    {% if page.access == 'vendor' %}
      <p class="item-access">[Access to this project is paywalled]</p>
    {% elseif page.access == 'private' %}
      <p class="item-access">[Access to this project is private]</p>
    {% endif %}

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include item_metadata_i18n.html meta=metadata %}
{% endif %}

