---
layout: i18n_collection_item
image_viewer: 'simple'
pagination: true
meta:
  en:
    - label: 'Link'
      value: page.link
      type: link
    - label: 'Blurb'
      value: page.blurb
    - label: 'They refer to themselves as...'
      value: page.claimed_genre
    - label: 'Language(s)'
      value: page.language
    - label: 'Creator(s)'
      value: page.creators
    - label: 'Steward(s)'
      value: page.stewards
    - label: 'Related To'
      value: page.related_to
  es:
    - label: 'Link'
      value: page.link
      type: link
    - label: 'Blurb'
      value: page.blurb_es
    - label: 'They refer to themselves as...'
      value: page.claimed_genre_es
    - label: 'Language(s)'
      value: page.language
    - label: 'Creator(s)'
      value: page.creators
    - label: 'Steward(s)'
      value: page.stewards
    - label: 'Related To'
      value: page.related_to
---
